/* This Awesome CSS file was created by Font Orgranizer from Hive :) */

body { font-family: 'Noto Sans'!important; }
h1 { font-family: 'Noto Sans'!important; }
h2 { font-family: 'Noto Sans'!important; }
h3 { font-family: 'Noto Sans'!important; }
h4 { font-family: 'Noto Sans'!important; }
h5 { font-family: 'Noto Sans'!important; }
h6 { font-family: 'Noto Sans'!important; }
p { font-family: 'Noto Sans'!important; }
q { font-family: 'Noto Sans'!important; }
li { font-family: 'Noto Sans'!important; }
a { font-family: 'Noto Sans'!important; }
